.contacts__title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.77;
  color: $very-dark-grey;
}

.contacts__email {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-decoration-line: underline;
  color: $basic-accent;
}
