.corporate-travels {
  padding-left: 55px;

  @media (max-width: $tablet-width-breakpoint) {
    padding-left: 0;
    padding-top: 30px;
    border-top: 1px solid $footer-grey;
  }
}

.corporate-travels__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.77;
  color: $very-dark-grey;
}

.corporate-travels__text {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(20, 21, 23, 0.5);
}
