.corporate-travels {
  padding-left: 60px;

  @media (max-width: $tablet-width-breakpoint) {
    padding-left: 0;
    padding-top: 30px;
    border-top: 1px solid $footer-grey;
  }
}

.corporate-travels__title {
  margin: 0;
  margin-bottom: 22px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.77;
  color: $very-dark-grey;

  @media (max-width: $tablet-width-breakpoint) {
    text-align: center;
  }
}

.corporate-travels__text {
  width: 97%;
  margin-bottom: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(20, 21, 23, 0.5);

  @media (max-width: $tablet-width-breakpoint) {
    width: 100%;
    text-align: center;
  }
}
