.email {
  display: flex;
  margin-bottom: 20px;

  &:hover {
    .email__icon {
      fill: $basic-accent;
    }
  }
}

.email__icon {
  margin-right: 14px;
  fill: $footer-grey;
}

.email__link {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-decoration-line: underline;
  color: $basic-accent;
}
