.email__icon {
  fill: $footer-grey;
}

.email__link {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-decoration-line: underline;
  color: $basic-accent;
}
