.form__title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.28;
  color: $very-dark-grey;
}

.form__offer {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

// еще шрифт в плейсхолдерах
