.menu {
  display: flex;
  flex-wrap: wrap;
  max-width: 630px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (max-width: $tablet-width-breakpoint) {
    flex-direction: column;
    min-height: 568px;
    width: 100%;
  }
}

.menu__item {
  margin-left: 40px;

  @media (max-width: $tablet-width-breakpoint) {
    display: flex;
    align-items: center;
    min-height: 60px;
    margin-left: 0;
    background-color: #fbf8f8;
    background-image: url("../img/arrow-menu.svg");
    background-position: right 24px center;
    background-repeat: no-repeat;
  }
}

.menu__item:first-child {
  @media (max-width: $tablet-width-breakpoint) {
    margin-top: 134px;
  }
}

.menu__item:not(:last-child) {
  @media (max-width: $tablet-width-breakpoint) {
    margin-bottom: 30px;
  }
}

.menu__link {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: $very-dark-grey;

  @media (max-width: $tablet-width-breakpoint) {
    display: block;
    width: 100%;
    padding: 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    color: $modal-text;
  }

  &:hover {
    color: $basic-accent;
  }
}
