.next-places__title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.77;
  color: $very-dark-grey;
}

.next-places__item {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: rgba(20, 21, 23, 0.5);
}
