.page-title {
  height: calc(45vw);
  max-height: 860px;
  min-height: 235px;
  background-color: $title-bg;
  background-image: url("../img/title-background-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/title-background-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width-breakpoint) {
    background-image: url("../img/title-background-tablet.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/title-background-tablet@2x.jpg");
    }
  }

  @media (max-width: $page-width-mobile) {
    background-image: url("../img/title-background-mobile.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/title-background-mobile@2x.jpg");
    }
  }
}

.page-title__caption {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 55px;
  line-height: 1.5;
  letter-spacing: -1.11px;
  color: $white;

  @media (max-width: $page-width-desktop) {
    font-size: calc((100vw - 768px) / (1024 - 768) * (55 - 30) + 30px);
  }

  @media (max-width: $page-width-tablet) {
    font-size: calc((100vw - 320px) / (768 - 320) * (30 - 24) + 24px);
  }

  @media (max-width: $page-width-mobile) {
    font-size: 24px;
  }
}

.page-title__description {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: -0.47px;
  color: rgba(44, 46, 63, 0.7);
}
