.reviews__title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: -0.69px;
  color: $dark-grey;

  @media (max-width: $page-width-tablet) {
    font-size: calc((100vw - 320px) / (768 - 320) * (30 - 20) + 20px);
  }

  @media (max-width: $page-width-mobile) {
    font-size: 20px;
  }
}

.reviews__text {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: -0.41px;
  color: rgba(44, 46, 63, 0.7);
}

.reviews__author {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.47px;
  color: $dark-grey;
}
