.tabs-list__link {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.41px;
  color: rgba(44, 46, 63, 0.3);
}

.tabs-list__link--active {
  color: $basic-accent;
}
