*,
*::before,
*::after {
  box-sizing: border-box;
  // outline: 2px solid red;
  // outline-offset: -2px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: $page-width-mobile;
  max-width: $max-width-desktop;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: $very-dark-grey;
  background-color: $white;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
