$basic-accent: #fe7867;
$accent-hover: #f17d4b;
$very-dark-grey: #141517;
$dark-grey: #2c2e3f;
$white: #ffffff;
$title-bg: #5581a8;
$greece-bg: #72654a;
$albania-bg: #03545b;
$macedonia-bg: #80593a;
$montenegro-bg: #53a148;
$croatia-bg: #826520;
$form-bg: #ff9b8e;

$page-width-mobile: 320px;
$page-width-tablet: 768px;
$page-width-desktop: 1920px;
$tablet-width-breakpoint: 1023px;
$mobile-width-breakpoint: 767px;

$page-padding-mobile: 16px;
$page-padding-tablet: 21px;
$page-padding-desktop: 375px;
// $form-padding-tablet: 70px;
// $menu-item-gap: 30px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
