// $basic-green: #68b738;
// $basic-green-2: #5eaa2f;
// $basic-grey: #f2f2f2;
// $special-grey-2: #ebebeb;
// $special-grey: #cdcdcd;
// $special-grey-2-1: #666666;
// $special-dark-grey: #444444;
// $special-dark-grey-2: #222222;
// $status-error: #ff8282;
// $black: #000000;
// $white: #ffffff;
// $slider-bg: #eaeaea;
// $almost-black: #111111;

$page-width-mobile: 320px;
$page-width-tablet: 768px;
$page-width-desktop: 1440px;
// $mobile-width-only: 767px;

$page-padding-mobile: 20px;
$page-padding-tablet: 30px;
$page-padding-desktop: 110px;
// $form-padding-tablet: 70px;
// $menu-item-gap: 30px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
